@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  overflow-x: hidden;
  display: grid;
  justify-content: end;
  align-content: end;
  background: linear-gradient(#279564, #87ba51)
}

section {
  position: relative;
  width: 100%;
  height:100vh;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

section::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #1c0522, transparent);
  z-index: 50;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  image-rendering: pixelated;
}

section img#moon {
  mix-blend-mode: screen;
}

section img#stars {
  mix-blend-mode: screen;
}

section img#trees_front {
  z-index: 10;
}

.about {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 100px;
  background: #1c0522;
  align-items: center;
}

.about span {
  margin-right: 20px;
}

.about h2 {
  font-size: 4.0em;
  margin-top: -70px;
  color: #fff;
  text-align: center;
  margin-bottom: 65px;
}

.about h3 {
  font-size: 1em;
  margin-top: -70px;
  color: #fff;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 100;
}

.grid {
  display: grid;
  width: 100%;
  height: 100%;
  grid-gap: 6rem;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  align-items: start;
}

.grid-item {
  background-color: #fff;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 3rem 6rem rgba(49, 119, 57, 0.1);
  cursor: pointer;
  transition: 0.2s;
}

.grid-item:hover {
  transform: translateY(-0.5%);
  box-shadow: 0 2rem 5rem rgba(255, 255, 255, 0.5);
}

.card-img {
  display: block;
  width: 100%;
  height: 15rem;
  object-fit: cover;
}

.card-content {
  padding: 3rem;
}

.card-header {
  font-size: 3rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-top: -25px;
  margin-bottom: 1.0rem;
}

.card-text {
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: #3d3d3d;
  margin-bottom: 3.5rem;
}

.card-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #169243;
  background-color: #c1f0d2;
  border: none;
  border-radius: 0.4rem;
  transition: 0.2s;
  cursor: pointer;
  letter-spacing: 0.4rem;
  text-decoration: none;
}

.card-btn span {
  margin-left: 1rem;
  transition: 0.2s;
  text-decoration: none;
}

.card-btn:hover,
.card-btn:active {
  background-color: #117e39e0;
  color: #c1f0d2;
  text-decoration: none;
}

.card-btn:hover span,
.card-btn:active span {
  margin-left: 1.5rem;
  text-decoration: none;
}

#text {
  position: absolute;
  right: 287px;
  top: 90px;
  color: #2a075cbd;
  white-space: nowrap;
  font-size: 7.5vw;
  z-index: 9;
}

#btn {
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #5f497d;
  font-size: 1.5em;
  display: inline-block;
  z-index: 9;
  transform: translateY(-70px);
}

#btnworks {
  text-decoration: none;
  padding: 8px 30px;
  border-radius: 40px;
  background: #fff;
  color: #5f497d;
  font-size: 1.5em;
  display: inline-block;
  z-index: 9;
  transform: translateY(-70px);
  margin-left: 350px;
  margin-bottom: 100px;
}

.sec {
  position: relative;
  padding: 100px;
  background: #1c0522;
}

.sec h2 {
  font-size: 3.54em;
  margin-right: 300px;
  margin-left: -11px;
  margin-bottom: 50px;
  margin-top: -40px;
  color: #fff;
}

.sec p {
  font-size: 1.2em;
  color: #fff;
  margin-bottom: 100px;
}

#arrownav {
  margin-top: 30px;
  margin-left: 350px;
  margin-right: 350px;
  font-size: 35px;
  font-weight: lighter;
  font-style: italic;
  color: #fff;
  background: none;
  border: none;
  text-decoration: none;
}

#to-top-btn {
  z-index: 999999;
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 22px;
  width: 60px;
  height: 60px;
  background-color: #1c0522;
  color: rgba(211, 255, 202, 0.83);
  cursor: pointer;
  outline: none;
  border: 3px solid rgba(211, 255, 202, 0.823);
  border-radius: 50%;
  transition-duration: 0.20s;
  transition-timing-function: ease-in-out;
  transition-property: background-color, color;
}
#to-top-btn:hover, #to-top-btn:focus {
  background-color: rgba(211, 255, 202, 0.823);
  color: #1c0522cd;
}

.btnEntrance {
  animation-duration: 0.5s;
  animation-fill-mode: both;
  animation-name: btnEntrance;
}

@keyframes btnEntrance {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  animation-duration: 0.25s;
  animation-fill-mode: both;  
  animation-name: btnExit;
}

@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
}
